{% extends 'base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
<div class="example-wrapper">
    <h3>Partially, but it also obeys your commands.</h3>
</div>
{% endblock %}