{% extends 'base.html.twig' %}
{% block title %}
    Un joli titre
{% endblock %}
{% block body %}
<div class="example-wrapper">
    <h1>{{ article.titre }}</h1>
    <small>{{ article.createdat|date('d/m/Y') }} à {{ article.createdat|date('H:i') }}</small>
    <p>{{ article.content }}
</div>
{% endblock %}